<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="maru.preferences"
            class="maru.centralbody.preferences.CentralBodyRoot"
            id="maru.centralbody.preferences"
            name="CentralBody">
      </page>
      <page
            category="maru.centralbody.preferences"
            class="maru.centralbody.preferences.EarthPreferences"
            id="maru.centralbody.preferences.earth"
            name="Earth">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="maru.centralbody.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="maru.centralbody.propertypages.EarthPropertyPage"
            id="maru.centralbody.propertypages.earth.3000"
            name="Earth">
         <enabledWhen>
            <instanceof
                  value="maru.ui.model.UiCentralBody">
            </instanceof>
         </enabledWhen>
         <filter
               name="instanceof.underlying"
               value="maru.centralbody.bodies.Earth">
         </filter>
      </page>
   </extension>

</plugin>
