<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="maru.core.ScenarioNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="maru.core.workspace.internal.ScenarioNature">
         </run>
      </runtime>
   </extension>
</plugin>
