<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="maru.perspectives.Planning">
         <view
               id="maru.report.views.Report"
               relationship="stack"
               relative="maru.map.views.GLMapView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="maru.ui.category.views"
            class="maru.report.views.ReportView"
            icon="icons/Apps-kspread-icon.png"
            id="maru.report.views.Report"
            name="Report">
      </view>
   </extension>

</plugin>
