<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="maru.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="maru.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="maru.perspectives.Planning"
            icon="icons/Actions-view-calendar-icon.png"
            id="maru.perspectives.Planning"
            name="Planning">
      </perspective>
      <perspective
            class="maru.perspectives.Presentation"
            icon="icons/Actions-tool-animator-icon.png"
            id="maru.perspectives.Presentation"
            name="Presentation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="maru.perspectives.Planning">
         <perspectiveShortcut
               id="maru.perspectives.Planning">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="maru.perspectives.Presentation">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="maru.perspectives.Presentation">
         <perspectiveShortcut
               id="maru.perspectives.Planning">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="maru.perspectives.Presentation">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="&amp;File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <separator
                  name="maru.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  style="push">
            </command>
            <separator
                  name="maru.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Window">
            <menu
                  label="&amp;Open Perspective">
               <dynamic
                     class="maru.dynamic.ContributionItemOpenPerspective"
                     id="maru.dynamic.OpenPerspective">
               </dynamic>
            </menu>
            <menu
                  label="Show &amp;View">
               <dynamic
                     class="maru.dynamic.ContributionItemShowViews"
                     id="maru.dynamic.ShowViews">
               </dynamic>
            </menu>
            <separator
                  name="maru.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.spy"
                  style="push">
            </command>
            <separator
                  name="maru.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="&amp;About Maru"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="maru.preferences.Root"
            id="maru.preferences"
            name="Maru">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="maru.handlers.SwitchWorkspaceHandler"
            id="maru.commands.switchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="maru.hideEclipseItemsActivity"
            name="hideEclipseItemsActivity">
      </activity>
      <activityPatternBinding
            activityId="maru.hideEclipseItemsActivity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="maru.hideEclipseItemsActivity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.views.*">
      </activityPatternBinding>
   </extension>

</plugin>
