<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="maru.product.debug.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="maru.application"
            name="Maru (Debug)">
         <property
               name="appName"
               value="Maru">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="aboutText"
               value="Maru (Debug)

Version 1.3.0
Author: Volker Schneider &lt;volker.schneider@gmail.com&gt;
License: Apache License, Version 2.0
Repository: https://github.com/vobject/maru

This product includes software and media
developed by the following third parties:
- Orekit: https://www.orekit.org
- Apache Commons Math: http://commons.apache.org/proper/commons-math
- JOGL: https://jogamp.org/jogl
- NASA World Wind: http://worldwind.arc.nasa.gov
- Oxygen Team: http://www.oxygen-icons.org
- Unrestrictedstock.com: http://unrestrictedstock.com
- JHT's Planetary Pixel Emporium: http://planetpixelemporium.com
- Natural Earth II: http://www.shadedrelief.com/natural2">
         </property>
         <property
               name="windowImages"
               value="icons/maru_16.png,icons/maru_32.png,icons/maru_48.png,icons/maru_64.png,icons/maru_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,215,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,240,445,15">
         </property>
      </product>
   </extension>

   <extension
         id="maru.product.release.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="maru.application"
            name="Maru">
         <property
               name="appName"
               value="Maru">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="aboutText"
               value="Maru

Version 1.3.0
Author: Volker Schneider &lt;volker.schneider@gmail.com&gt;
License: Apache License, Version 2.0
Repository: https://github.com/vobject/maru

This product includes software and media
developed by the following third parties:
- Orekit: https://www.orekit.org
- Apache Commons Math: http://commons.apache.org/proper/commons-math
- JOGL: https://jogamp.org/jogl
- NASA World Wind: http://worldwind.arc.nasa.gov
- Oxygen Team: http://www.oxygen-icons.org
- Unrestrictedstock.com: http://unrestrictedstock.com
- JHT's Planetary Pixel Emporium: http://planetpixelemporium.com
- Natural Earth II: http://www.shadedrelief.com/natural2">
         </property>
         <property
               name="windowImages"
               value="icons/maru_16.png,icons/maru_32.png,icons/maru_48.png,icons/maru_64.png,icons/maru_128.png">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupMessageRect"
               value="7,215,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,240,445,15">
         </property>
      </product>
   </extension>
   
   <extension
         id="maru.application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="maru.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="maru.perspectives.Planning"
            icon="icons/Actions-view-calendar-icon.png"
            id="maru.perspectives.Planning"
            name="Planning">
      </perspective>
      <perspective
            class="maru.perspectives.Presentation"
            icon="icons/Actions-tool-animator-icon.png"
            id="maru.perspectives.Presentation"
            name="Presentation">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="maru.perspectives.Planning">
         <perspectiveShortcut
               id="maru.perspectives.Planning">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="maru.perspectives.Presentation">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="maru.perspectives.Presentation">
         <perspectiveShortcut
               id="maru.perspectives.Planning">
         </perspectiveShortcut>
         <perspectiveShortcut
               id="maru.perspectives.Presentation">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="&amp;File">
            <command
                  commandId="org.eclipse.ui.newWizard"
                  style="push">
            </command>
            <separator
                  name="maru.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.restartWorkbench"
                  style="push">
            </command>
            <separator
                  name="maru.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Window">
            <menu
                  label="&amp;Open Perspective">
               <dynamic
                     class="maru.dynamic.ContributionItemOpenPerspective"
                     id="maru.dynamic.OpenPerspective">
               </dynamic>
            </menu>
            <menu
                  label="Show &amp;View">
               <dynamic
                     class="maru.dynamic.ContributionItemShowViews"
                     id="maru.dynamic.ShowViews">
               </dynamic>
            </menu>
            <separator
                  name="maru.separator4"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.resetPerspective"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.spy"
                  style="push">
            </command>
            <separator
                  name="maru.separator5"
                  visible="true">
            </separator>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  style="push">
            </command>
         </menu>
         <menu
               label="&amp;Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="&amp;About Maru"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="maru.preferences.Root"
            id="maru.preferences"
            name="Maru">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="maru.handlers.SwitchWorkspaceHandler"
            id="maru.commands.switchWorkspace"
            name="Switch Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="maru.hideEclipseItemsActivity"
            name="hideEclipseItemsActivity">
      </activity>
      <activityPatternBinding
            activityId="maru.hideEclipseItemsActivity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.ide.*">
      </activityPatternBinding>
      <activityPatternBinding
            activityId="maru.hideEclipseItemsActivity"
            isEqualityPattern="false"
            pattern="org.eclipse.ui.views.*">
      </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandlerProductBinding
            productId="maru.product.debug.product"
            splashId="maru.splashHandler">
      </splashHandlerProductBinding>
   </extension>
   <extension
         id="maru"
         point="org.eclipse.core.runtime.products">
      <product
            application="maru.application"
            name="Maru (Debug)">
         <property
               name="windowImages"
               value="icons/maru_16.png,icons/maru_32.png,icons/maru_48.png,icons/maru_64.png,icons/maru_128.png">
         </property>
         <property
               name="aboutText"
               value="Maru (Debug)&#x0A;&#x0A;Version 1.3.0&#x0A;Author: Volker Schneider &lt;volker.schneider@gmail.com&gt;&#x0A;License: Apache License, Version 2.0&#x0A;Repository: https://github.com/vobject/maru&#x0A;&#x0A;This product includes software and media&#x0A;developed by the following third parties:&#x0A;- Orekit: https://www.orekit.org&#x0A;- Apache Commons Math: http://commons.apache.org/proper/commons-math&#x0A;- JOGL: https://jogamp.org/jogl&#x0A;- NASA World Wind: http://worldwind.arc.nasa.gov&#x0A;- Oxygen Team: http://www.oxygen-icons.org&#x0A;- Unrestrictedstock.com: http://unrestrictedstock.com&#x0A;- JHT&apos;s Planetary Pixel Emporium: http://planetpixelemporium.com&#x0A;- Natural Earth II: http://www.shadedrelief.com/natural2">
         </property>
         <property
               name="aboutImage"
               value="about.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="FFFFFF">
         </property>
         <property
               name="startupProgressRect"
               value="5,270,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,245,445,20">
         </property>
         <property
               name="appName"
               value="Maru (Debug)">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
