<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ScenarioNature.gif"
            id="maru.ui.scenarioNatureImage"
            natureId="maru.core.ScenarioNature">
      </image>
   </extension>

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerContentBinding
            viewerId="maru.ui.navigators.scenario.explorer">
         <includes>
            <contentExtension
                  pattern="maru.ui.navigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.workingSet">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewer
            viewerId="maru.ui.navigators.scenario.explorer">
         <popupMenu
               allowsPlatformContributions="true"
               id="maru.ui.navigators.scenario.explorer#PopupMenu">
            <insertionPoint
                  name="group.new"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerActionBinding
            viewerId="maru.ui.navigators.scenario.explorer">
         <includes>
            <actionExtension
                  pattern="maru.ui.popups.actionprovider.ScenarioActions">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <actionProvider
            class="maru.ui.popups.actionprovider.ScenarioActionsProvider"
            id="maru.ui.popups.actionprovider.ScenarioActions">
         <enablement>
            <or>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
               <instanceof
                     value="org.eclipse.core.resources.IProject">
               </instanceof>
               <instanceof
                     value="maru.ui.model.UiElement">
               </instanceof>
            </or>
         </enablement>
      </actionProvider>
      <commonWizard
            type="new"
            wizardId="maru.ui.wizards.new.scenario">
         <enablement></enablement>
      </commonWizard>
      <navigatorContent
            contentProvider="maru.ui.navigators.scenario.ContentProvider"
            id="maru.ui.navigatorContent"
            labelProvider="maru.ui.navigators.scenario.LabelProvider"
            name="Scenario Explorer Content">
         <triggerPoints>
            <instanceof
                  value="org.eclipse.core.resources.IWorkspaceRoot">
            </instanceof>
         </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="maru.ui.category.wizards"
            name="Scenarios">
      </category>
      <wizard
            category="maru.ui.category.wizards"
            class="maru.ui.wizards.ScenarioProjectWizard"
            finalPerspective="maru.perspectives.Planning"
            icon="icons/Earth_16.png"
            id="maru.ui.wizards.new.scenario"
            name="Scenario Project"
            project="true">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="maru.perspectives.Planning">
         <view
               id="maru.ui.navigators.scenario.explorer"
               minimized="false"
               ratio=".20f"
               relationship="left"
               relative="org.eclipse.ui.editorss">
         </view>
         <view
               closeable="false"
               id="maru.ui.views.Timeline"
               minimized="false"
               ratio=".91f"
               relationship="bottom"
               relative="maru.map.views.MapGLView"
               showTitle="false"
               standalone="true">
         </view>
         <view
               id="maru.ui.views.ElementProperties"
               ratio=".6f"
               relationship="bottom"
               relative="maru.ui.navigators.scenario.explorer">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="maru.perspectives.Presentation">
         <view
               closeable="false"
               id="maru.ui.views.Timeline"
               minimized="false"
               ratio=".92f"
               relationship="bottom"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="maru.preferences"
            class="maru.ui.preferences.UserInterfacePreferencePage"
            id="maru.ui.preferences"
            name="User Interface">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="maru.ui.category.views"
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/Actions-document-open-remote-icon.png"
            id="maru.ui.navigators.scenario.explorer"
            name="Scenario Explorer">
      </view>
      <view
            category="maru.ui.category.views"
            class="maru.ui.views.timeline.Timeline"
            icon="icons/Actions-player-time-icon.png"
            id="maru.ui.views.Timeline"
            name="Timeline">
      </view>
      <view
            category="maru.ui.category.views"
            class="maru.ui.views.properties.Properties"
            icon="icons/Actions-edit-find-icon.png"
            id="maru.ui.views.ElementProperties"
            name="Internals"
            restorable="true">
      </view>
      <category
            id="maru.ui.category.views"
            name="Maru">
      </category>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="maru.ui.preferences.UserInterfacePreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="maru.ui.model.UiElement"
            class="maru.ui.navigators.scenario.ContentAdapterFactory">
         <adapter
               type="org.eclipse.ui.model.IWorkbenchAdapter">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="maru.ui.propertypages.UiProjectPropertyPage"
            id="maru.ui.propertypages.uiproject.1000"
            name="Scenario">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="maru.ui.propertypages.UiTimeframePropertyPage"
            id="maru.ui.propertypages.uiproject.timeframe.1500"
            name="Timeframe">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="maru.ui.propertypages.UiElementPropertyPage"
            id="maru.ui.propertypages.uielement.1000"
            name="Scenario Element">
         <enabledWhen>
            <instanceof
                  value="maru.ui.model.UiElement">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="maru.ui.propertypages.UiCentralBodyPropertyPage"
            id="maru.ui.propertypages.uicentralbody.2000"
            name="Central Body">
         <enabledWhen>
            <instanceof
                  value="maru.ui.model.UiCentralBody">
            </instanceof>
         </enabledWhen>
      </page>
      <page
            class="maru.ui.propertypages.UiTimepointPropertyPage"
            id="maru.ui.propertypages.timepoint.2000"
            name="Timepoint">
         <enabledWhen>
            <instanceof
                  value="maru.ui.model.UiTimepoint">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="maru.ui.activities.debug"
            name="showDebugMenuActivity">
      </activity>
      <activityPatternBinding
            activityId="maru.ui.activities.debug"
            isEqualityPattern="false"
            pattern="maru.ui.debug.*">
      </activityPatternBinding>
   </extension>

</plugin>
