<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="maru.ui.category.views"
            class="maru.map.views.gl.MapGLView"
            icon="icons/Categories-applications-internet-icon.png"
            id="maru.map.views.MapGLView"
            name="Map">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="maru.perspectives.Planning">
         <view
               closeable="false"
               id="maru.map.views.MapGLView"
               ratio=".20f"
               relationship="right"
               relative="org.eclipse.ui.editorss">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="maru.perspectives.Presentation">
         <view
               closeable="false"
               id="maru.map.views.MapGLView"
               minimized="false"
               ratio=".91f"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="false"
               standalone="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="maru.map.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="maru.preferences"
            class="maru.map.preferences.MapPreferencePage"
            id="maru.map.preferences.MapPreferencePage"
            name="Map">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="maru.map.settings.uiproject.UiProjectSettingsPage"
            id="maru.map.settings.uiproject.8000"
            name="2D Map">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>

</plugin>
